<div class="body">
    <div class="footer">
        <div class="perfil">
            <div class="logo">
                <img src="img/favicon.svg">
                <h2>SistemaRotas</h2>
            </div>
            <p>Um lugar para guardar as rotas, fotos e lembranças das suas viagens.</p>
        </div>

        <div class="contato">
            <h3>Contatos</h3>

            <div class="contato-buttons">
            <a href="https://github.com/LuisGustav18" target="_blank" aria-label="GitHub" rel="noopener noreferrer" class="github">
                <img src="img/github.svg">
            </a>

            <a href="https://www.linkedin.com/in/luisgustavogon%C3%A7alves/" target="_blank" aria-label="LinkedIn" rel="noopener noreferrer" class="linkedin">
                <img src="img/linkedin.svg">
            </a>
            </div>
        </div>

        <div class="titulo">
            <p>SistemaRotas - Luis</p>
        </div>

    </div>
</div>