<div class="container">
    <div class="descricao">
        <p class="texto-inicial">NOVO PROJETO</p>
        <h1>Projeto</h1>
        <p class="mensagem">Dê um nome e data em que essa viagem começou</p>
    </div>

    <div class="insert">
        <p>Titulo</p>
        <mat-form-field apparence="outline">
            <mat-icon matPrefix>book_2</mat-icon>
            <input matInput [formControl]="titulo" required type="text" placeholder="Ex: Trilha Serra da Bocaina">
        </mat-form-field>
    </div>

    <div class="insert">
        <p>Data de inicio</p>
        <mat-form-field apparence="outline">
            <mat-icon matPrefix>calendar_today</mat-icon>
            <input matInput [formControl]="data" type="date" placeholder="Adicionar fotos">
        </mat-form-field>
    </div>

    <p class="mensagem-error" *ngIf="erro == true">{{mensagemErro}}</p>

    <div class="buttons">
        <button class="cancelar" matButton="outlined" (click)="fechar()" >Cancelar</button>
        <button class="criar-rota" matButton="outlined" (click)="create()" [disabled]="!validarCampos()">Criar projeto</button>
    </div>
</div>