<div class="container">
    <div class="descricao">
        <p class="texto-inicial">ATUALIZAR PROJETO</p>
        <h1>Projeto</h1>
    </div>

    <div class="insert">
        <p>Titulo</p>
        <mat-form-field apparence="outline">
            <mat-icon matPrefix>book_2</mat-icon>
            <input [formControl]="titulo" name="titulo" matInput type="text" placeholder="Ex: Trilha Serra da Bocaina">
        </mat-form-field>
    </div>

    <div class="insert">
        <p>Data de inicio</p>
        <mat-form-field apparence="outline">
            <mat-icon matPrefix>calendar_today</mat-icon>
            <input [formControl]="data" name="data" matInput type="date" placeholder="Adicionar fotos">
        </mat-form-field>
    </div>

    <p class="mensagem-error" *ngIf="erro == true">{{mensagemErro}}</p>

    <div class="buttons">
        <button class="cancelar" matButton="outlined" (click)="cancelar()">Cancelar</button>
        <button class="criar-rota" matButton="outlined" [disabled]="!validarCampos()" (click)="update()">Salvar</button>
    </div>
</div>