<div class="header">
    <div class="body">
        <div class="logo">
            <img src="img/favicon.svg">
            <h2>SistemaRotas</h2>
        </div>

        <div class="campo">
            <button class="button-menu" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>

            // class.open é uma classe dentro da div que estiliza ela mais apenas se estiver true ( por isso utilizo menu = boolean)
            <div class="menu-campo" [class.open]="menu">
                <button *ngIf="!rotaProjeto">Projeto</button>
                <button>Sair</button>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>